<%- include("../includes/header.ejs", {title:"Create New Resume"}); %>
<h1>Create New Resume</h1>

<form action="/resume/insert" method="get" id="accountform">
    Resume Name: <input form="accountform" id="resume_name" name="resume_name" type="text" />
    <br />
    <select multiple="multiple" name="company_id" id="" form="accountform">
        <% for(var i=0; result2.length > i; i++ ) { %>
            <option label="<%=result2[i].company_name%>"> <%= result2[i].company_id %></option>
        <% } %>
    </select>
    <select multiple="multiple" name="school_id" form="accountform">
        <% for(var i=0; result3.length > i; i++ ) { %>
            <option label="<%=result3[i].school_name%>"><%= result3[i].school_id %></option>
        <% } %>
    </select>


    <select multiple="multiple" name="skill_id" form="accountform">
        <% for(var i=0; result4.length > i; i++ ) { %>
            <option label="<%=result4[i].skill_name%>"><%= result4[i].skill_id %></option>
        <% } %>
    </select>

    <input type="hidden" name="account_id" form="accountform" value="<%= result1.account_id %>" />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>