<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/account/all">Accounts - View All</a> - Look at account tables<br>
    <a href="/address/all">Addresses - View All</a> - Look at address tables<br>
    <a href="/company/all">Companies - View All</a> - Look at company tables<br>
    <a href="/resume/all">Resume - View All</a> - Look at all resume tables<br>
    <a href="/skill/all">Skills - View All</a> - Look at all skill tables<br>




<%- include("./includes/footer.ejs"); %>
