<%- include("../includes/header.ejs", {title:"Addresses - " + result[0].street + " " + result[0].zip_code}); %>
<h1>Addresses</h1>
<ul>
    <li>Street Name: <%= result[0].street %></li>
    <li>Zip Code: <%= result[0].zip_code %></li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>